@import "tailwindcss";

@theme inline {
  --color-muted: #c9c9c9;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Hide scrollbar for thumbnail horizontal scroll */
.thumbnail-scroll-container::-webkit-scrollbar {
  display: none;
}
